# Vamos utilizar o mlflow para ler a nossa model pipeline

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [28]:
import mlflow
import pandas as pd

In [29]:

from pathlib import Path

uri = "http://localhost:5000"

mlflow.set_tracking_uri(uri)

In [30]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "logistic_reg"
model_version = "champion"

model = mlflow.pyfunc.load_model(f"models:/{model_name}@{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: lr_pipeline
  flavor: mlflow.sklearn
  run_id: 907db8c5a9c7440084225d7dbee52550

## Vamos utilizar o modelo lido para fazer previsões

In [31]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [32]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
95,7,184,84,33,0,35.5,0.355,41,1
41,0,138,0,0,0,36.3,0.933,25,1
86,0,177,60,29,478,34.6,1.072,21,1
8,1,147,94,41,0,49.3,0.358,27,1
1,9,112,82,32,175,34.2,0.260,36,1
7,7,152,88,44,0,50.0,0.337,36,1
47,2,100,66,20,90,32.9,0.867,28,1
80,0,128,68,19,180,30.5,1.391,25,1
46,9,145,80,46,130,37.9,0.637,40,1
113,2,93,64,32,160,38.0,0.674,23,1

In [33]:
model.predict(input_data.drop("Outcome", axis=1))

array([1, 1, 1, 1, 0, 1, 0, 0, 1, 0])